<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>11athletics</string>
	<key>CFBundleIdentifier</key>
	<string>com.DHCapture.11Athletics</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small-40@2x.png</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow 11athletics to use Camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow 11athletics to access Phota Library</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Allow 11athletics to access Media Library</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Allow 11athletics to access Calendars for integration options</string>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIViewEdgeAntialiasing</key>
	<true/>
</dict>
</plist>
